.navigation-wrap {
    position: initial !important;

}

.card {
    border: none;
    width: 500px;
    box-shadow: 0px 0px 5px 2px #d9d9d9;
    padding: 20px;
}

a.btn.btn-color {
    background: #7711f7;
    color: white;
}

.input {
    font-size: 14px !important;
}

.userProfile-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.card-img-top:hover {
    padding: 10px !important;
    opacity: 0.5;
}

#userImage {
    display: none;

}